<ion-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Nueva Contraseña</h1>
    </ion-header-bar>
    <ion-content>
        <div style="text-align: center; margin-top: 20px;">
            <img src="img/ionic.png" />
        </div>
        <div class="list" style="margin-top: 20px;">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nueva contraseña</span>
                <input type="password" ng-model="user.email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Repita su nueva contraseña</span>
                <input type="password" ng-model="user.contrasena">
            </label>
            <label class="item item-input item-stacked-label" style="text-align: center;">
                <button class="button button-assertive" ng-click="aceptar()">Aceptar</button>
            </label>
        </div>
    </ion-content>
</ion-view>
