<ion-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Login</h1>
        <button class="button button-clear" ng-click="logout()">Logout</button>
    </ion-header-bar>
    <ion-content>
        <div style="text-align: center; margin-top: 20px;">
            <img src="img/ionic.png" />
        </div>
        <div class="list" style="margin-top: 20px;">
           
            <label class="item item-input item-stacked-label" style="text-aling: center;">
                <button class="button button-assertive" ng-click="newTask()"> Ingresar</button>
            </label>
        </div>
    </ion-content>
</ion-view>
